onyxia:
  serviceAccount:
    create: true
    clusterAdmin: true
  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: nginx
    hosts:
      - host: onyxia.kub.sspcloud.fr
      - host: onyxia.lab.sspcloud.fr
      - host: datalab.sspcloud.fr
    tls:
      - hosts:
          - onyxia.kub.sspcloud.fr
          - onyxia.lab.sspcloud.fr
          - datalab.sspcloud.fr
  ui:
    replicaCount: 2
    image:
      name: inseefrlab/onyxia-web
      version: 2.2.7
    nodeSelector:
      infra: "true"
    tolerations:
      - key: "infra"
        operator: "Exists"
    env:
      KEYCLOAK_URL: https://auth.lab.sspcloud.fr/auth
      KEYCLOAK_REALM: sspcloud
      HEADER_ORGANIZATION: SSP Cloud
      TERMS_OF_SERVICES: |
        { "en": "https://www.sspcloud.fr/tos_en.md", "fr": "https://www.sspcloud.fr/tos_fr.md" }
      HIGHLIGHTED_PACKAGES: |
        ["jupyter","jupyter-gpu","jupyter-pyspark","jupyter-r","rstudio","rstudio-gpu","rstudio-sparkr","vscode","vscode-gpu","ubuntu","postgres"]
      DESCRIPTION: Plateforme mutualisée de services de traitement des données statistiques et de datascience
      HEADER_LINKS: |
        [
          { 
            "label": { "en": "Trainings", "fr": "Formations", "zh-CN":"教程" }, 
            "iconId": "training", 
            "url": "https://www.sspcloud.fr/formation" 
          }, 
          { 
            "label": { "en": "Documentation", "zh-CN":"文档" },
            "iconId": "language", 
            "url": "https://docs.sspcloud.fr" 
          }
        ]
  api:
    replicaCount: 10
    image:
      name: inseefrlab/onyxia-api
      version: "latest"
      pullPolicy: "Always"
    nodeSelector:
      infra: "true"
    tolerations:
      - key: "infra"
        operator: "Exists"
    env:
      security.cors.allowed_origins: "*" # Todo restore when we have another preview
      keycloak.resource: onyxia
      keycloak.realm: sspcloud
      keycloak.auth-server-url: https://auth.lab.sspcloud.fr/auth
      keycloak.ssl-required: external
      keycloak.public-client: "true"
      keycloak.enable-basic-auth: "true"
      keycloak.bearer-only: "true"
      authentication.mode: "openidconnect"
      springdoc.swagger-ui.oauth.clientId: onyxia
      catalog.refresh.ms: "300000"
      springdoc.swagger-ui.path: "/api"
    catalogs: 
      [
        {
          "id": "ide",
          "name": "Services interactifs",
          "description": "Services for datascientists.",
          "maintainer": "innovation@insee.fr",
          "location": "https://inseefrlab.github.io/helm-charts-interactive-services",
          "status": "PROD",
          "highlightedCharts": ["jupyter-python","rstudio","vscode-python"],
          "type": "helm"
        },
        {
          "id": "databases",
          "name": "Bases de données",
          "description": "Services for datascientists.",
          "maintainer": "innovation@insee.fr",
          "location": "https://inseefrlab.github.io/helm-charts-databases",
          "status": "PROD",
          "highlightedCharts": ["postgresql","elastic"],
          "type": "helm"
        },
        {
          "id": "automation",
          "name": "Automatisation",
          "description": "Services for datascientists.",
          "maintainer": "innovation@insee.fr",
          "location": "https://inseefrlab.github.io/helm-charts-automation",
          "status": "PROD",
          "highlightedCharts": ["argo-cd","argo-workflows","mlflow"],
          "type": "helm"
        },
        {
          "id": "inseefrlab-helm-charts-datascience",
          "name": "Deprecated",
          "description": "Services for datascientists.",
          "maintainer": "innovation@insee.fr",
          "location": "https://inseefrlab.github.io/helm-charts-datascience",
          "status": "PROD",
          "highlightedCharts": ["ubuntu"],
          "excludedCharts": ["rstudio","jupyter","vscode","lakefs","jena","mariadb","spark-history","label-studio","spark-thrift-server","postgresql","elastic","mongodb","argo-cd","argo-workflows","hive-metastore","mlflow","postgresql","kafka","neo4j","nocodb","openrefine","pgadmin","pinot","trino"],
          "type": "helm"
        },
        {
          "id": "inseefrlab-helm-charts-trainings",
          "name": "Inseefrlab trainings",
          "description": "Trainings for datascientists.",
          "maintainer": "innovation@insee.fr",
          "location": "https://inseefrlab.github.io/helm-charts-trainings",
          "status": "TEST",
          "type": "helm"
        },
        {
          "id": "inseefrlab-helm-charts-shiny-apps",
          "name": "Galerie app métier",
          "description": "R Shiny apps as services.",
          "maintainer": "innovation@insee.fr",
          "location": "https://inseefrlab.github.io/helm-charts-shiny-apps",
          "status": "PROD",
          "type": "helm"
        },
      ]
    regions: 
      [
        {
          "id": "paris",
          "name": "Kubernetes DG Insee",
          "description": "Region principale. Plateforme hébergée sur les serveurs de la direction générale de l'INSEE à Montrouge.",
          "services": {
            "type": "KUBERNETES",
            "k8sPublicEndpoint": { 
                "URL": "https://apiserver.kub.sspcloud.fr",
                "keycloakParams": {
                  "URL":"https://auth.lab.sspcloud.fr/auth",
                  "realm":"sspcloud",
                  "clientId":"onyxia"
                }
            },
            "singleNamespace": false,
            "namespacePrefix": "user-",
            "usernamePrefix": "oidc-",
            "groupNamespacePrefix": "projet-",
            "groupPrefix": "oidc-",
            "authenticationMode": "admin",
            "expose": { 
              "domain": "user.lab.sspcloud.fr",
              "ingressClassName": "onyxia"
            },
            "monitoring": { "URLPattern": "https://grafana.lab.sspcloud.fr/d/kYYgRWBMz/users-services?orgId=1&refresh=5s&var-namespace=$NAMESPACE&var-instance=$INSTANCE" },
            "cloudshell": {
              "catalogId": "inseefrlab-helm-charts-datascience",
              "packageName": "cloudshell"
            },
            "quotas": {
                "enabled": true,
                "allowUserModification": true,
                "default": {
                  "requests.storage": "2Ti",
                  "count/pods": "200"
                }
              },
              "defaultConfiguration": {
                "ipprotection": true,
                "networkPolicy": true,
                "from": [
                  {
                    "ipBlock": {
                      "cidr": "10.233.103.0/32"
                    }
                  },
                  {
                    "ipBlock": {
                      "cidr": "10.233.111.0/32"
                    }
                  },
                  {
                    "ipBlock": {
                      "cidr": "10.233.116.0/32"
                    }
                  },
                  {
                    "ipBlock": {
                      "cidr": "10.233.108.0/32"
                    }
                  }
                ],
                "startupProbe": {
                  "failureThreshold": 60,
                  "initialDelaySeconds": 10,
                  "periodSeconds": 10,
                  "successThreshold": 1,
                  "timeoutSeconds": 5
                },
                "kafka":{
                  "URL": "kafka-0.kafka-headless.atlas:9092,kafka-1.kafka-headless.atlas:9092,kafka-2.kafka-headless.atlas:9092",
                  "topicName":"hive-meta"
                }
              },
            # "initScript": ""
          },
          "data": { 
             "S3": { 
                "type": "minio",
                "URL": "https://minio.lab.sspcloud.fr",
                "region": "us-east-1",
                "bucketPrefix": "",
                "groupBucketPrefix": "projet-",
                "bucketClaim": "preferred_username",
                "defaultDurationSeconds": 86400,
                "keycloakParams": {
                  "URL":"https://auth.lab.sspcloud.fr/auth",
                  "realm":"sspcloud",
                  "clientId":"onyxia"
                },
                "monitoring": { "URLPattern": "https://grafana.lab.sspcloud.fr/d/PhCwEJkMz/user-s3-storage?orgId=1&var-username=$BUCKET_ID" } 
            },
            "atlas": { 
                "URL": "https://atlas.lab.sspcloud.fr",
                "keycloakParams": {
                  "URL":"https://auth.lab.sspcloud.fr/auth",
                  "realm":"sspcloud",
                  "clientId":"atlas"
                }
            } 
          },
          "vault": { 
                "URL": "https://vault.lab.sspcloud.fr",
                "kvEngine": "onyxia-kv",
                "role": "onyxia-user"
          },
          "auth": { "type": "openidconnect" },
          "location": { "lat": 48.8164, "long": 2.3174, "name": "Montrouge (France)" }
        }
      ]