## Fix pour la surcharge des variables d'environnements
## Voir https://github.com/minio/operator/issues/790#issuecomment-917476406
apiVersion: v1
data:
  config.env: changeMe
kind: Secret
metadata:
  name: override-configuration
type: Opaque
---
## Secret to be used as MinIO Root Credentials
apiVersion: v1
kind: Secret
metadata:
  name: minio-creds-secret
type: Opaque
data:
  ## Access Key for MinIO Tenant, base64 encoded (echo -n 'minio' | base64)
  accesskey: changeMe
  ## Secret Key for MinIO Tenant, base64 encoded (echo -n '95mWXbS5sGJRjhEEU7fJvb8aXjJDZv5xnxRRwRL6' | base64)
  secretkey: changeMe
---
## Secret to be used for MinIO Console
apiVersion: v1
kind: Secret
metadata:
  name: console-secret
type: Opaque
data:
  ## Passphrase to encrypt jwt payload, base64 encoded (echo -n 'cL3zpqAv' | base64)
  CONSOLE_PBKDF_PASSPHRASE: changeMe
  ## Salt to encrypt jwt payload, base64 encoded (echo -n '5wDfRn3D' | base64)
  CONSOLE_PBKDF_SALT: changeMe
  ## MinIO User Access Key (used for Console Login), base64 encoded (echo -n 'console' | base64)
  CONSOLE_ACCESS_KEY: chaneMe
  ## MinIO User Secret Key (used for Console Login), base64 encoded (echo -n 'ZqYGLa3Fjcj4xWNGLUx3xeYmtFbsCDcD7c7Ls7qJ' | base64)
  CONSOLE_SECRET_KEY: changeMe
---
## MinIO Tenant Definition
apiVersion: minio.min.io/v2
kind: Tenant
metadata:
  name: minio-datanode
  ## Optionally pass labels to be applied to the statefulset pods
  labels:
    app: minio-datanode
  ## Annotations for MinIO Tenant Pods
  annotations:
    prometheus.io/path: /minio/v2/metrics/cluster
    prometheus.io/port: "9000"
    prometheus.io/scrape: "true"

## If a scheduler is specified here, Tenant pods will be dispatched by specified scheduler.
## If not specified, the Tenant pods will be dispatched by default scheduler.
# scheduler:
#  name: my-custom-scheduler

spec:
  ## Registry location and Tag to download MinIO Server image
  image: minio/minio:RELEASE.2022-08-26T19-53-15Z
  imagePullPolicy: IfNotPresent

  ## Secret with credentials to be used by MinIO Tenant.
  ## Refers to the secret object created above.
  credsSecret:
    name: minio-creds-secret

  ## Specification for MinIO Pool(s) in this Tenant.
  pools:
    ## Servers specifies the number of MinIO Tenant Pods / Servers in this pool.
    ## For standalone mode, supply 1. For distributed mode, supply 4 or more.
    ## Note that the operator does not support upgrading from standalone to distributed mode.
    - servers: 2
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: v1.min.io/tenant
                    operator: In
                    values:
                      - minio
                  - key: v1.min.io/pool
                    operator: In
                    values:
                      - pool-0
              topologyKey: kubernetes.io/hostname
      name: pool-0
      ## volumesPerServer specifies the number of volumes attached per MinIO Tenant Pod / Server.
      volumesPerServer: 18

      ## This VolumeClaimTemplate is used across all the volumes provisioned for MinIO Tenant in this
      ## Pool.
      volumeClaimTemplate:
        metadata:
          name: data
        spec:
          storageClassName: minio-disks-datanode
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 1117Gi

      ## Used to specify a toleration for a pod
      # tolerations:
      #  - effect: NoSchedule
      #    key: dedicated
      #    operator: Equal
      #    value: storage

      ## nodeSelector parameters for MinIO Pods. It specifies a map of key-value pairs. For the pod to be
      ## eligible to run on a node, the node must have each of the
      ## indicated key-value pairs as labels.
      ## Read more here: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/
      nodeSelector:
        datanode: "true"

      ## Affinity settings for MinIO pods. Read more about affinity
      ## here: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity.
      # affinity:
      #   nodeAffinity:
      #     requiredDuringSchedulingIgnoredDuringExecution:
      #       nodeSelectorTerms:
      #       - matchExpressions:
      #         - key: kubernetes.io/hostname
      #           operator: In
      #           values:
      #           - hostname1
      #           - hostname2
      #   podAntiAffinity:
      #     requiredDuringSchedulingIgnoredDuringExecution:
      #     - labelSelector:
      #         matchExpressions:
      #         - key: app
      #           operator: In
      #           values:
      #           - store
      #       topologyKey: "kubernetes.io/hostname"

      ## Configure resource requests and limits for MinIO containers
      resources:
        requests:
          cpu: 5
          memory: 32Gi
        limits:
          cpu: 30
          memory: 128Gi
      securityContext:
        runAsUser: 0
        runAsGroup: 0
        runAsNonRoot: false
        fsGroup: 0
    - servers: 4
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: v1.min.io/tenant
                    operator: In
                    values:
                      - minio
                  - key: v1.min.io/pool
                    operator: In
                    values:
                      - pool-1
              topologyKey: kubernetes.io/hostname

  ## Mount path where PV will be mounted inside container(s).
  mountPath: /export
  ## Sub path inside Mount path where MinIO stores data.
  # subPath: /data

  ## Use this field to provide a list of Secrets with external certificates. This can be used to to configure
  ## TLS for MinIO Tenant pods. Create secrets as explained here:
  ## https://github.com/minio/minio/tree/master/docs/tls/kubernetes#2-create-kubernetes-secret
  # externalCertSecret:
  #   - name: tls-ssl-minio
  #     type: kubernetes.io/tls

  ## Enable automatic Kubernetes based certificate generation and signing as explained in
  ## https://kubernetes.io/docs/tasks/tls/managing-tls-in-a-cluster
  requestAutoCert: true

  ## Enable S3 specific features such as Bucket DNS which would allow `buckets` to be
  ## accessible as DNS entries of form `<bucketname>.minio.default.svc.cluster.local`
  s3:
    ## This feature is turned off by default
    bucketDNS: false

  ## This field is used only when "requestAutoCert" is set to true. Use this field to set CommonName
  ## for the auto-generated certificate. Internal DNS name for the pod will be used if CommonName is
  ## not provided. DNS name format is *.minio.default.svc.cluster.local
  certConfig:
    commonName: "minio-datanode"
    organizationName: []
    dnsNames: []

  ## PodManagement policy for MinIO Tenant Pods. Can be "OrderedReady" or "Parallel"
  ## Refer https://kubernetes.io/docs/tutorials/stateful-application/basic-stateful-set/#pod-management-policy
  ## for details.
  podManagementPolicy: Parallel

  ## serviceMetadata allows passing additional labels and annotations to MinIO and Console specific
  ## services created by the operator.
  serviceMetadata:
    minioServiceLabels:
      label: minio-svc
    minioServiceAnnotations:
      v2.min.io: minio-svc
    consoleServiceLabels:
      label: console-svc
    consoleServiceAnnotations:
      v2.min.io: console-svc

  ## Add environment variables to be set in MinIO container (https://github.com/minio/minio/tree/master/docs/config)
  env:
    - name: MINIO_IDENTITY_OPENID_CONFIG_URL
      value: "https://auth.lab.sspcloud.fr/auth/realms/sspcloud/.well-known/openid-configuration"
    - name: MINIO_IDENTITY_OPENID_CLIENT_ID
      value: "minio-datanode"
    - name: MINIO_IDENTITY_OPENID_CLIENT_SECRET
      value: "changeMe"
    - name: MINIO_IDENTITY_OPENID_REDIRECT_URI
      value: https://minio-console.lab.sspcloud.fr/oauth_callback
    - name: MINIO_IDENTITY_OPENID_SCOPES
      value: openid, profile, email, roles
    - name: MINIO_IDENTITY_OPENID_CLAIM_NAME
      value: policy
    - name: MINIO_DOMAIN
      value: "minio.lab.sspcloud.fr"
    - name: MINIO_BROWSER
      value: "on" # to turn-off browser
    - name: MINIO_BROWSER_REDIRECT_URL
      value: "https://minio-console.lab.sspcloud.fr"
    - name: MINIO_SERVER_URL
      value: "https://minio.lab.sspcloud.fr"
  # - name: MINIO_STORAGE_CLASS_STANDARD
  #   value: "EC:2"
  #   ## For secure env vars like passwords, create an opaque Kubernetes secret and specify the secret in
  #   ## the `valueFrom` field. The `valueFrom` object must contain the following fields:
  #   ## `name` - the secret from which MinIO extracts the password, `key` - the data field
  #   ## within secret, whose value will be set to the env variable's value
  # - name: MINIO_IDENTITY_LDAP_LOOKUP_BIND_PASSWORD
  #   valueFrom:
  #     secretKeyRef:
  #       name: ldap-minio-secret
  #       key: MINIO_IDENTITY_LDAP_LOOKUP_BIND_PASSWORD
  ## PriorityClassName indicates the Pod priority and hence importance of a Pod relative to other Pods.
  ## This is applied to MinIO pods only.
  ## Refer Kubernetes documentation for details https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/#priorityclass/
  # priorityClassName: high-priority
  ## Define configuration for Console (Graphical user interface for MinIO)
  ## Refer https://github.com/minio/console